/* Tablet CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #2c1762;
  background-size: 100%;
  position: relative;
}
nav {
  max-width: 1024px;
}
nav.navbar {
  padding-right: 50rem;
}

/* nav .navbar2{
    padding-right: 20rem;
} */

h1 {
  position: relative;
  bottom: 2rem;
}
main {
  width: 1300px;
}
img.girls-img {
  position: relative;
  left: 3rem;
}
.main-hero {
  position: relative;
  right: 2rem;
}
.bank {
  font-size: 18rem;
}
main {
  width: 900px;
}
.bigbox {
  width: 80%;
}
.bigbox img {
  width: 65px;
  height: 50px;
}
div.credit {
  border-right: none;
  position: relative;
  left: 0px;
}
aside h1 {
  font-size: 1rem;
}
.cont {
  max-width: 1024px;
}
.article1 .plus-cont {
  max-width: 1024px;
  padding: 0%;
  margin: 0%;
  display: flex;
  position: relative;
  left: 120px;
  margin-top: 20px;
  padding: 20px 20px;
}
.article1 .cont {
  width: 1024px;
}
.article1 {
  padding: 0%;
}

/*sections*/
.section2 {
  background-color: transparent;
  border: 1px #000;
  overflow: hidden;
}

.section2 .cont {
  height: 557px;
  max-width: 854px;
  background-color: rgba(78, 241, 224, 0.1);
  border-radius: 20px;
  align-items: flex-start;
  padding-top: 0;
  padding: 60px 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section2 .write-up {
  margin: 0;
}

.section2 .write-up p {
  color: gray;
  font-size: 20px;
  margin-top: 0px;
}

.section2 .write-up button {
  padding: 15px 20px;
  margin-top: 20px;
  border: none;
  background-color: #ff0475;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  z-index: 20;
}

.section2 .man {
  width: 300px;
  height: 200px;
  margin-right: 100px;
  border-radius: 10px;
  margin-top: 0px;
  z-index: 20;
}

.section2 .div1 {
  position: absolute;
  width: 80px;
  height: 80px;
  background-color: #ff0475;
  padding: 20px;
  border-radius: 50px;
  left: 420px;
  top: 330px;
  z-index: 10;
}

.section2 .cart {
  position: absolute;
  width: 80px;
  background-color: #2c1762;
  padding: 20px;
  border-radius: 10px;
  left: 150px;
  top: 340px;
  z-index: 30;
}
.section3 {
  margin-top: 0%;
  border: 1px #000;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 80px 85px;
  display: flex;
}
.section3 .cont {
  display: flex;
  justify-content: space-between;
  width: 854px;
  height: 400px;
  border-radius: 20px;
}

.section3 .write-up {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  max-width: 50%;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  margin-top: 0;
}
.section3 .cbn {
  position: absolute;
  width: 220px;
  padding: 20px;
  border-radius: 10px;
  right: 230px;
  top: 40px;
  z-index: 30;
}
.section3 .image-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  /* max-height: 57%; */
  position: relative;
}

.section3 .savings {
  position: absolute;
  top: 80px;
  right: 50px;
  margin-top: 0;
  margin-right: 0;
}

.section3 .savings-plan {
  position: absolute;
  width: 200px;
  padding: 20px;
  border-radius: 10px;
  right: 0px;
  top: 200px;
  z-index: 30;
}

.section3 .star {
  position: absolute;
  width: 70px;
  padding: 20px;
  border-radius: 10px;
  right: 350px;
  top: 250px;
  z-index: 30;
}

.section3 .lines {
  position: absolute;
  width: 80px;
  padding: 20px;
  border-radius: 10px;
  right: 10px;
  top: 80px;
  z-index: 30;
}

/* section */
.section4 {
  background-color: transparent;
  border-bottom-style: none;
  background-color: transparent;
  border: 1px #000;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 80px 85px;
  display: flex;
  position: relative;
  overflow: hidden;
  margin-top: 0px;
}

.section4 .cont {
  display: flex;
  justify-content: space-around;
  background-color: #4ef1e12c;
  width: 854px;
  height: 555.89px;
  border-radius: 20px;
}

.section4 .phone_div {
  max-width: 50%;
}

.section4 .write-up {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 50%;
  max-width: 50%;
  height: 100%;
  padding-left: 0;
  padding-right: 60px;
  display: flex;
}

.article1 {
  margin-top: 0%;
  padding-top: 0;
  background-color: transparent;
  border: 1px #000;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 80px 85px;
  display: flex;
  position: relative;
  overflow: hidden;
}

.article1 .cont {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin-left: 0;
  margin-right: 0;
  display: flex;
}
.article1 .plus-cont {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px 0 20px;
  height: 100px;
  background-color: white;
  border-radius: 10px;
  left: 0px;
}
.article1 button {
  margin-left: 0;
}
.article2 {
  padding: 0 150px;
  margin-top: 200px;
  max-width: 1024px;
}

.article2 .divs {
  overflow-x: scroll;
}
