/* Tablet CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color:#2c1762;
    background-size:100%;
    position: relative;
}
nav{
    max-width:1024px;
}
nav.navbar{
    padding-right:50rem;
}

/* nav .navbar2{
    padding-right: 20rem;
} */

h1{
    position: relative;
    bottom:2rem;
}
main{
    width:1300px;
    
}
img.girls-img{
    position: relative;
    left:3rem;
}
.main-hero{
    position: relative;
    right:2rem;
}
.bank{
    font-size:18rem ;
}
main{
    width:900px;
}
.bigbox{
    width:80%;
}
.bigbox img{
    width:65px;
    height:50px;
}
div.credit{
    border-right: none;
    position: relative;
    left:0px;
}
aside h1{
    font-size: 1rem;
}
.cont{
    max-width:1024px;
}
.article1 .plus-cont{
    max-width: 1024px;
    padding: 0%;
    margin: 0%;
   display: flex;
   position: relative;
   left:120px;
   margin-top: 20px;
   padding: 20px 20px;
}
.article1 .cont {
    width: 1024px;
}
.article1 {
    padding: 0%;
}